<div v-if="flashMessage!==''" class="alert alert-warning alert-dismissible fade show" role="alert">
    [[flashMessage]]
    <button type="button" class="btn-close" @click="onClickCloseAlert" aria-label="Close"></button>
</div>

<div id="edit_form" v-if="editing" class="col-md-6 ">
    <h2><div v-if="adding">Add user</div><div v-else>Edit user [form.username]</div></h2>
    <form @submit.prevent="saveEdit">
        <slot :mydata = "formData"></slot>
        <button type="submit" class="btn btn-primary me-1">Save</button>
        
        <button @click="undoEdit" type="button" class="btn btn-secondary">Cancel</button>
    </form>
</div>

<table v-if="!editing" class="table table-striped table-hover">
    <thead>
        <tr>
            <th v-for="(fld, index) in fields" v-bind:key="index"
                @click="onHeaderClick(fld)"
           >
                <span v-if="(typeof fld==='string')" >
                    [[fld]]
                </span>
                <span v-else>[[fld.key]]
                    <i v-if="(['true', true].includes(fld.sortable))" 
                        class="fas"
                        :class="{'fa-sort sort-off': sortState.key!=fld.key,
                          'fa-sort-down': (sortState.key==fld.key && !sortState.descending),
                          'fa-sort-up': (sortState.key==fld.key && sortState.descending),
                          }"
                        >
                    </i>
                </span>
                <span 
                    v-if="typeof fld==='string' ? sortState.key==fld : sortState.key==fld.key " 
                    class="badge badge-dark sort-badge"
                    @click.stop="onClickSortBadge">x</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(v1, k1) in items" v-bind:key="k1"
            @click="onClickRow(v1, k1)">
            <td v-for="(v2, k2) in v1" v-bind:key="k2">[[v2]]</td>
        </tr>
    </tbody>
</table>