<div v-if="flashMessage!==''" :class="'alert alert-'+flashMessageVariant+' alert-dismissible fade show'" role="alert">
    [[flashMessage]]
    <button type="button" class="btn-close" @click="onClickCloseAlert" aria-label="Close"></button>
</div>

<div id="edit_form" v-if="editing" class="col-md-6 ">
    <h3><div v-if="adding" v-text="'Add new '+titleSingular"></div><div v-else v-text="'Edit '+titleSingular+' '+formData[name_field]"></div></h3>
    <form @submit.prevent="submitForm">
        <slot :mydata = "formData" :formErrors="formErrors" :adding="adding"></slot>
        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary me-1">Save</button>
            <button @click="undoEdit" type="button" class="btn btn-secondary me-1">Cancel</button>
        </div>
        <div>
            <button v-if="formData.id" @click="deleteItem(formData.id)" type="button" class="btn btn-sm btn-outline-danger">Delete</button>
        </div>
        <slot name="secondary-form"></slot>
    </form>
</div>

<div v-show="!editing">
    <div class="row">
        <div class="col-4 col-md-8">
            <button class="btn btn-primary" @click="onClickAdd"><i class="fa fa-plus"></i>Add</button>
        </div>
        <div class="col-8 col-md-4">
            <vue-search-input @searchChanged="onSearchChanged"></vue-search-input>
        </div>
    </div>

    <table v-if="!editing" class="table table-hover mt-1">
        <thead>
            <tr>
                <th v-for="(fld, index) in fields" v-bind:key="index"
                    @click="onHeaderClick(fld)"
            >
                    <span v-if="(typeof fld==='string')" >
                        [[fld]]
                    </span>
                    <span v-else>[[fld.title]]
                        <i v-if="(['true', true].includes(fld.sortable))" 
                            class="fas"
                            :class="{'fa-sort sort-off': sortState.key!=fld.key,
                            'fa-sort-down': (sortState.key==fld.key && !sortState.descending),
                            'fa-sort-up': (sortState.key==fld.key && sortState.descending),
                            }"
                            >
                        </i>
                    </span>
                    <span 
                        v-if="typeof fld==='string' ? sortState.key==fld : sortState.key==fld.key " 
                        class="badge badge-dark sort-badge"
                        @click.stop="onClickSortBadge">x</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(v1, k1) in items" v-bind:key="k1"
                @click="onClickRow(v1, k1)">
                <!-- <td v-for="(v2, k2) in v1" v-bind:key="k2">[[v2]]</td> -->
                <td v-for="fld in fieldsOrder" v-bind:key = "fld">[[v1[fld] ]]</td>
            </tr>
        </tbody>
    </table>
</div>

<div v-cloak>
    <div class="row" v-if="!(adding || editing)">
        <div class="col-4 col-md-2">
            <select class="form-select " v-model="perPage">
                <option v-for="i in perPageOptions" :value="i.value">[[i.text]]</option>
            </select>
        </div>
        <div class="col-8 col-md-10">
            <!-- key="totalRows" ensures re-rendering of vue-pagination on totalRows value update -->
            <vue-pagination
            :current-page=currentPage :total-rows=totalRows :per-page=perPage 
            :key="`${perPage}+${totalRows}`"
            @pageChanged="onPageChanged"
            >

            </vue-pagination>
        </div>
    </div>
</div>