<div v-if="flashMessage!==''" class="alert alert-warning alert-dismissible fade show" role="alert">
    [[flashMessage]]
    <button type="button" class="btn-close" @click="onClickCloseAlert" aria-label="Close"></button>
</div>

<div id="edit_form" v-if="editing" class="col-md-6 ">
    <h2><div v-if="adding">Add [[pluralize(1,title)]] </div><div v-else>Edit [[pluralize(1,title)]] [[selected[0][name_field] ]]</div></h2>
    <form @submit.prevent="saveEdit">
        <slot :mydata = "formData"></slot>
        <button type="submit" class="btn btn-primary me-1">Save</button>
        
        <button @click="undoEdit" type="button" class="btn btn-secondary">Cancel</button>
    </form>
</div>

<table v-if="!editing" class="table table-striped table-hover">
    <thead>
        <tr>
            <th v-for="(fld, index) in fields" v-bind:key="index"
                @click="onHeaderClick(fld)"
           >
                <span v-if="(typeof fld==='string')" >
                    [[fld]]
                </span>
                <span v-else>[[fld.key]]
                    <i v-if="(['true', true].includes(fld.sortable))" 
                        class="fas"
                        :class="{'fa-sort sort-off': sortState.key!=fld.key,
                          'fa-sort-down': (sortState.key==fld.key && !sortState.descending),
                          'fa-sort-up': (sortState.key==fld.key && sortState.descending),
                          }"
                        >
                    </i>
                </span>
                <span 
                    v-if="typeof fld==='string' ? sortState.key==fld : sortState.key==fld.key " 
                    class="badge badge-dark sort-badge"
                    @click.stop="onClickSortBadge">x</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(v1, k1) in items" v-bind:key="k1"
            @click="onClickRow(v1, k1)">
            <!-- <td v-for="(v2, k2) in v1" v-bind:key="k2">[[v2]]</td> -->
            <td v-for="fld in fieldsOrder" v-bind:key = "fld">[[v1[fld] ]]</td>
        </tr>
    </tbody>
</table>

<form class="row" v-if="!(adding || editing)">
    <div class="col-xs-3 col-md-1">
        <select class="form-select form-select-sm" v-model="perPage">
            <option v-for="i in perPageOptions" :value="i.value">[[i.text]]</option>
        </select>
    </div>
    <div class="col-xs-9 col-md-11">
        <!-- key="totalRows" ensures re-rendering of vue-pagination on totalRows value update -->
        <vue-pagination
         :current-page=currentPage :total-rows=totalRows :per-page=perPage 
         :key="`${perPage}+${totalRows}`"
         @pageChanged="onPageChanged"
        >

        </vue-pagination>
    </div>
</form>
