{% from 'bootstrap5/nav.html' import render_nav_item %}

<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <style>
        html {
            font-size: 15px
        }
        </style>
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        <link href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.css" rel="stylesheet" />
        <link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/static/fontawesome/css/brands.css" rel="stylesheet">
        <link href="/static/fontawesome/css/solid.css" rel="stylesheet">
        {% block styles %}{% endblock %}

        <title>{{ config['APP_NAME'] }}</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="{{url_for('main.index')}}">
                  {{config['APP_BRAND_NAME'] or config['APP_NAME'] or 'Navbar'}}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  {{ render_nav_item('main.index', 'Home') }}
                  {{ render_nav_item('main.explore', 'Explore') }}
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Library
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userMenuDropdown">
                      <li><a class="dropdown-item" href="{{ url_for('main.regions') }}">Regions</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('main.branches') }}">Branches</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('main.provinces') }}">Provinces</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('main.warehouses') }}">Warehouses</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('main.commodities') }}">Commodities</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('main.containers') }}">Containers</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('main.varieties') }}">Varieties</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('main.items') }}">Items</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('main.activities') }}">Activities</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="{{ url_for('main.accountabilities') }}">Accountabilities</a></li>
                    </ul>
                  </li>

                  {% if not current_user.is_anonymous and current_user.has_role('admin') %}

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="userMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Users
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="userMenuDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('main.users') }}">Users</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('main.roles') }}">Roles</a></li>
                      </ul>
                    </li>
                    
                  {% endif %}
                  {{ render_nav_item('main.about', 'About') }}
                  
                </ul>
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                  {% if current_user.is_anonymous %}
                    <a class="btn btn-outline-primary" href="{{url_for('auth.login')}}">Login</a>
                  {% else %}
                    <div class="dropdown">
                        <button class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-current="page">
                          <span class="fa-solid fa-user">&nbsp;</span>{{ current_user.username }}
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="{{url_for('auth.edit_profile')}}">Profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                        </div>
                      </div>
                  {% endif %}
                </ul>
              </div>
            </div>
        </nav>

      
        <div class="container">

            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <p/>
                {% for category, message in messages %}
                    <div class="alert {{ category if category!='message' else 'alert-info' }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {# application content needs to be provided in the content block #}
            {% block content %}{% endblock %}
        </div>
      <!-- Optional JavaScript -->
      {% block scripts %}
        {{ bootstrap.load_js() }}
      {% endblock %}
    </body>
</html>