{% extends "base.html" %}

{% block head %}
{{ super() }}
<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
<script src="{{ url_for('static', filename='js/vue.global.js') }}"></script>
<link href=" https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/flatly/bootstrap.min.css " rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    {% block styles %}
        <style>
            [v-cloak] {
                display: none;
            }
        </style>
    {% endblock %}

{% endblock %}

{% block content %}
    <h2>Commodities</h2>
    <hr>

    <div id="app" v-cloak>
        <vue-table 
         api-endpoint="/api_v1/commodity"
        >
        <template v-slot="{ mydata, formErrors, adding }" >

            <div class="form-group mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", **{'v-model':'mydata.name'}) }}
                <div v-if="formErrors.name" class="text-danger" v-text="formErrors.name[0]"></div>
            </div>

            <div class="form-check mb-3">
                {{ form.is_cereal(type="checkbox", class="form-check-input", **{'v-model':'mydata.is_cereal'}) }}
                {{ form.is_cereal.label(class="form-check-label") }}
                <div v-if="formErrors.is_cereal" class="text-danger" v-text="formErrors.is_cereal[0]"></div>
            </div>

        </template>
            
        </vue-table>
        
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.2/dist/axios.min.js"></script>
<script>
    axios.defaults.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";

    function onClick(cb) {
        cb.value = cb.checked ? 'true' : 'false';
    }
</script>
<script type="module" src="/static/vueTable/vue_component.js"></script>

{% endblock %}