{% extends "base.html" %}

{% block content %}
<h1>Explore Page</h1>
<p>Decorated view with role 'admin'</p>
<div id="app">
    <data-table
        :api-endpoint="'/api_v1/'"
        :api-init-endpoint="'init'"
        :api-get-endpoint="'users'"
        :api-add-endpoint="'user_add'"
        :api-edit-endpoint="'user_add'"
        :api-delete-endpoint="'user_delete'"
    >
        <template v-slot:editForm>
            <b-form-group
            id="input-group-1"
            label="User name"
            label-for="input-1"
            >
            <b-form-input
                id="input-1"
                v-model="form.username"
                autofocus
            ></b-form-input>

                <div v-if="formErrors.username" class="text-danger">
                    [[formErrors.username[0] ]] 
                </div>

            </b-form-group>

            <b-form-group
            id="input-group-2"
            label="Email"
            label-for="input-2"
            >
            <b-form-input
                id="input-2"
                v-model="form.email"
                :readonly="!adding"
            ></b-form-input>
                <div v-if="formErrors.email" class="text-danger">
                    [[formErrors.email[0] ]]
                </div>
            </b-form-group>

            <b-form-group
            id="input-group-3"
            label="First name"
            label-for="input-3"
            >
            <b-form-input
                id="input-3"
                v-model="form.first_name"
            ></b-form-input>
                <div v-if="formErrors.first_name" class="text-danger">
                    [[formErrors.first_name[0] ]]
                </div>
            </b-form-group>

            <b-form-group
            id="input-group-4"
            label="Last name"
            label-for="input-4"
            >
            <b-form-input
                id="input-4"
                v-model="form.last_name"
            ></b-form-input>
            <div v-if="formErrors.last_name" class="text-danger">
                [[formErrors.last_name[0] ]] 
            </div>
            </b-form-group>
        </template>
            
    </data-table>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.2/dist/axios.min.js"></script>
<script>
    axios.defaults.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.23.1/dist/bootstrap-vue.min.js"></script>
<!-- <script type="module" src="/static/datatable.js"></script> -->
<script type="module" src="/static/vueapp.js"></script>

{% endblock %}